.vscode
**/.DS_Store

**/*.bc.tmp
**/*.bc-*
**/*.cfg.json
**/*.cfg.dot
**/*.cfg.pdf
**/*.cfg.png
**/*.file.png
**/*_fuzzview_function_images
**/*.bc
**/*.ll
**/*.o

tests/progs/bin/*

pass/build
openssl
misc
fuzzview/fuzzview.egg-info

__pycache__/
.pytest_cache/
.coverage

!**/.gitkeep
